
motyostyle.sty
readme_theorymodel.aux
readme_theorymodel.log
readme_theorymodel.out
readme_theorymodel.synctex.gz
DMP_monpol_CSC_main.asv
modeling.bib
readme_theorymodel.tex
aea.bst
readme_theorymodel.bbl
readme_theorymodel.blg
calibration_table.aux
calibration_table.log
calibration_table.out
calibration_table.synctex.gz
IRIS_Tbx_20150127.zip
